* {
  margin: 0 !important;
  font-family: Consolas !important;
  font-size: 1em !important;
}

body {
  background-color: lightblue;
}

table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}

fieldset {
  padding: 0px !important;
  margin: 2px !important;
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
}

table {
  width: 100%;
}

.one-element-wrapper {
  display: flex;

}

.one-element-wrapper>* {
  flex-grow: 1;
}

legend {
  font-weight: bold;
  margin: 0 auto !important;
}

.constant-panel input {
  display: block;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.constant-panel {
  margin: 3px !important;
}

.constant-panel button {
  margin-bottom: 2px !important;
}

.drop-down-panel>div:last-child,
.drop-down-panel>div:last-child>div {
  display: flex;
  flex-wrap: wrap;
}

.drop-down-panel>div:last-child>*,
.drop-down-panel>div:last-child>div>* {
  flex-grow: 1;
}

.drop-down-panel>div:first-child {
  background-color: #777bd4;
  color: white;
  padding: 6px;
  margin: 3px !important;
}

.drop-down-panel {
  margin: 3px !important;
}

.drop-down-panel>div:first-child:hover {
  cursor: pointer;
}


.flexable {
  display: flex;
  flex-wrap: wrap;
}

.flexable>* {
  flex-grow: 1;
}

.input-plus {
  display: flex;
  flex-wrap: wrap;
}

.input-plus>input {
  flex-grow: 1;
}

.input-area {
  margin: 2px !important;
}

.input-area>* {
  margin: 2px !important;
}

.error-input {
  color: red;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.command-analyzer-div {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.command-analyzer-div>div:last-child {
  flex-grow: 1;
}

.command-analyzer-div>* {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.block-label {
  display: block;
}

.paragraph-wrapper:after {
  content: '\200b';
}
